!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title NecoPic
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    -# %script{src:"https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"}
    %script{src: "http://nejimaki-act.com/lab/cube/js/cube.js"}
    -# %script{src: "javascripts/vendor/modernizr.custom.min.js"}
    -# %script{src: "javascripts/vendor/jquery-3.4.1.min.js"}
    -# %script{src: "javascripts/application.js"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    

  %body
    #stalker
    -# .wrap
    -#   %a{:href => "###"} Stick Link
    -#   %a.no_stick_{:href => "###"} No Stick
    = render 'layouts/notifications'
    = yield
